/ = form_for doc, :html => { :class => 'form-horizontal' }, :remote => true do |f|
.mvl
	= text_field 'search', 'documents', :value => params[:doclink_ref_num], :placeholder => 'Search By Doclink Ref Number'