@import 'mixins';

form {
	input.mini_field, textarea.mini_field {
		width: 190px !important;
	}
	select.mini_field {
		width: 200px !important;
	}
	input.medium_field, textarea.medium_field {
		width: 190px !important;
	}
	select.medium_field {
		width: 200px !important;
	}
}

.modal {
	form {
		@include m(0px);
//		input[type="text"], input[type="password"] {
//			width: 320px;
//		}
//		select {
//			width: 330px;
//		}
		input.mini_field, textarea.mini_field {
			width: 100px !important;
		}
		select.mini_field {
			width: 110px !important;
		}
		input.medium_field, textarea.medium_field {
			width: 150px !important;
		}
		select.medium_field {
			width: 160px !important;
		}
	}
	.well {
		form {
			.control-label {
				width: 25%;
			}
			.controls
			{
				input[type="text"], input[type="password"] {
					width: 97%;
				}
				select {
					width: 97%;
				}
			}
		}
	}
}

input, select, textarea {
	@include default_font;
}

	input[type="submit"]::moz-inner-focus {
		border: 0;
	}

.popup.special {
	input[type="text"], input[type="email"], input[type="password"], select, textarea {
		@include fb;
	}
	.big {
		input[type="text"], input[type="email"], input[type="password"], select, textarea {
			@include gradient(#CCC, #FFF);
			@include shadow(0px 0px 5px #AAA);
			border: 1px solid #FFF;
			font-size: 16px;
			width: 400px;
			@include p(10px);
			@include rad(5px);
			@include mb(10px);
		}
	}
}

.radio.horizontal {
	@include p(5px 5px 0px 5px !important);
	@include ml(20px);
	float: left !important;
}